* {
	background-image: none;
	box-shadow: none;
	font-family: "Inter";
}

window {
	background-color: rgba(20, 20, 20, 0.85);
}

button {
	border-radius: 20px;
	border-color: rgba(120, 120, 120, 0.5);
	text-decoration-color: #c9c9c9;
	color: #c9c9c9;
	background-color: rgba(30, 30, 30, 0.95);
	border-style: solid;
	border-width: 1px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
	margin: 12px;
	padding: 24px;
}

button:focus, button:active, button:hover {
	background-color: rgba(150, 150, 150, 0.35);
	border-color: #969696;
	outline-style: none;
}

#lock {
    background-image: image(url("/home/USER/.local/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/home/USER/.local/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/home/USER/.local/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/home/USER/.local/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("/home/USER/.local/share/wlogout/icons/shutdown.png"));
}

#shutdown:focus, #shutdown:active, #shutdown:hover {
	background-color: rgba(180, 80, 80, 0.4);
	border-color: #b45050;
}

#reboot {
    background-image: image(url("/home/USER/.local/share/wlogout/icons/reboot.png"));
}
